body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0008ff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  color: #3300ff;
}

section {
  padding: 20px;
}

#sobre {
  background-color: #f7f7f7;
}

#sobre img {
  width: 20px;
  height: 20px;
  margin: 20px;
}

#produtos {
  background-color: #8c7d7d;
}

#produtos ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#produtos li {
  margin: 20px;
  width: calc(33.33% - 40px);
}

#produtos img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

#contatos {
  background-color: #f7f7f7;
}

#contatos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contatos li {

    background-color: #f7f7f7;
    padding: 20px;
  }

  .contato {
    margin-bottom: 20px;
  }

  .contato h2 {
    margin-top: 0;
  }

  .contato ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .contato li {
    margin-bottom: 10px;
  }

  .contato i {
    margin-right: 10px;
  }

  form {
    margin-top: 20px;
  }

  form label {
    display: block;
    margin-bottom: 10px;
  }

  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }

  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  form input[type="submit"]:hover {
    background-color: #444;
  }

.logo{
  width: 90px;
  height: -110px;
}